Applications
Desktop
Documents
Downloads
Movies
Music
Pictures
Public
Library
3rdparty
Projects
Dropbox
mygo
.DS_Store
.Rproj.user
.Trash
.Xauthority
.anyconnect
.aws
.bash_history
.bashrc_local
.bashrc_private
.cache
.cisco
.cups
.data_modeler
.docker
.dropbox
.emacs-backups
.emacs.d
.gem
.ghc
.gradle
.idea-build
.ideaLibSources
.ipython
.ivy2
.lesshst
.m2
.npm
.ocamlinit
.opam
.rbenv
.sbt
.sqldeveloper
.ssh
.viminfo
.w3m
