[color]
    diff = auto
    status = auto
    branch = auto
[core]
    editor = smartmacs
[diff]
    mnemonicprefix = true
    algorithm = histogram
[log]
    decorate = true
[alias]
    s = status --short
    co = checkout
    lol = log --graph --decorate --oneline
    lov =log --graph --decorate --oneline --simplify-by-decoration
    lom = log --graph --decorate --oneline master~..HEAD
    lola = log --graph --decorate --oneline --exclude=refs/stash --all
[user]
    name = Eric Entzel
    email = eric@ubermac.net
[push]
    default = simple
[rerere]
    enabled = true
[pull]
    ff = only
[rebase]
    autosquash = true
