Applications
Desktop
Documents
Downloads
Movies
Music
Pictures
Public
Library
3rdparty
Projects
Dropbox
.dropbox
.DS_Store
.Rproj.user
.Trash
.bash_history
.bashrc_private
.bashrc_local
.emacs.d
.emacs-backups
.lesshst
.m2
.viminfo
